body
{
 font-family: 'Limelight', cursive;
 background-color: #a10c0c;
 background-image: url("media/curtains3.jpg");
 background-size : cover;
 background-attachment: fixed;
 text-align: center;
}

header {
    background-color:#fef9e7;
    border: 12px solid #f6e10b ;
    margin-top: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

#inputBar {
    padding: 10px;
    font-size: 18px;
    background-color:#fef9e7;
    border: 1px solid black;
}

#getJoke {
    background-color: black;
    color:  #fef9e7;
    font-size: 18px;
    padding: 10px;
}

#getJoke:hover {
  background-color: #971814;

}

h1 { 
    text-align: center;
    font-size: 75px;
    letter-spacing: 5px;
    text-shadow: 3px 3px #971814;
    color: black;
}

h2 {
    color: #f6e10b; 
    font-size: 28px;
    text-shadow: 3px 3px black;
    font-weight: 100;
}


img {
  height: 50%;
  width:  35%;
  display: flex;
  flex-direction: row;
  border: 6px solid #f6e10b;
  border-radius: 25px 0px 0px 25px;
}


.container {
   display: flex;
   flex-direction: row;
   margin-left: 6em;
   overflow: auto;
   
}

@keyframes example {
    from {color: #fef9e7;}
    to {color: black;}
  }

.jokeReturn {
    width: 55%;
    background-color: #fef9e7;
    border: 6px solid #f6e10b;
    border-radius: 0px 25px 25px 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: center;
    animation-name: example;
    animation-timing-function: linear;
    animation-duration: 4s;
    font-size: 39px;
    
   
 }

footer {
    /* color: black;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #fef9e7;
    border: 6px solid #f6e10b;
    border-radius: 25px; */
    height: 110px;
    width: 46%;
    margin-left: 19em;

}

.icons {
    margin-top: -2em;
    height: 12%;
    width: 12%;
    margin: 25px;
    display: inline;
    border: none; 
}

.icons:hover {
    transform: scale(1.5, 1.5)

}

/* setting for smaller screened devices */

@media screen and (max-width: 600px) 

{
body{ 
    text-align: center;
    background-color: #a10c0c;
    background-image: none;
}



.jokeReturn  {
    border-radius: 25px;
    height: 40%;
}

img {
   display: none;
 } 

 footer {
     display: none;
 }



}
