body
{
 font-family: 'Limelight', cursive;
 background-color: #a10c0c;
 background-image: url("images/curtains3.jpg");
 background-repeat: no-repeat;
 background-size : cover;
 background-attachment: fixed;
 text-align: center;
}

header {
    background-color: white;
    border: 12px solid #f6e10b ;
    margin-top: 35px;
    width: 80%;
    margin-left: 7em;
    
}

#inputBar {
    padding: 10px;
    font-size: 18px
}

#getJoke {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px;
}


h1 { 
    text-align: center;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 3px 3px #980707;
    color: black;
}

h2 {
    color: #f6e10b; 
    font-size: 28px;
    text-shadow: 3px 3px black;
}


img {
  height: 25%;
  width:  25%;
  display: flex;
  flex-direction: row;
  border: 6px solid #f6e10b;
}


.container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

@keyframes example {
    from {color: white;}
    to {color: rgb(99, 95, 95)}
  }

.jokeReturn {
    width: 35%;
    background-color: white;
    border: 6px solid #f6e10b;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: center;
    font-size: 36px; 
    animation-name: example;
    animation-duration: 5s;
    color: black;   
   
 }

footer {

    color: black;;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: rem;
    background-color: white;
    border: 6px solid #f6e10b;
    height: 110px;
    width: 50%;
    margin-left: 22em;

}

.icons {
    margin-top: -2em;
    height: 4%;
    width: 4%;
    margin: 20px;
    display: inline;
    border: none; 
}

/* setting for smaller screened devices */

@media only screen and (max-width: 600px) {
 
.jokeReturn{
width: 60%;
color: green; 
}

img {
   display: none;
 } 



}
