body
{
 /*font-family: 'Limelight', cursive;*/
 font-family: 'Cute Font', cursive;
 background-color: #12053c;
 text-align: center;
}


#inputBar {
    padding: 10px;
    font-size: 18px
}

#getJoke {
    background-color: black;
    color: rgb(253, 253, 221);
    font-size: 18px;
    padding: 10px;
}
 
header{
    margin-bottom: -15px;
    padding-bottom: -15px;

}

h1 { 

    font-size: 130px;
    letter-spacing: 15px;
    color: #0fff06;
    margin-top: -15px;
    margin-bottom: -30px;
}

h2 {
    color: #f6e10b; 
    font-size: 36px;
}

.second {
    margin-top: -40px;
    margin-bottom: 20px
}



.container {
   margin-left: 15em;
   display: flex;
   flex-direction: row;
   
}

@keyframes example {
    from {color: white;}
    to {color: rgb(99, 95, 95)}
  }

.jokeReturn {
    width: 45%;
    background-color: white;
    border: 6px solid #f6e10b;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: center;
    font-size: 36px; 
    animation-name: example;
    animation-duration: 5s;
    color: black;   
   
 }


 img {
    height: %;
    width:  18%;
    display: flex;
    flex-direction: row;
    border: 6px solid #f6e10b;
  }


  footer {

    color: yellow;
    font-size: 14px;
    letter-spacing: 2px;
    height: 110px;
    width: 50%;
    margin-left: 22em;

}

.icons {
    margin-top: -2em;
    height: 5%;
    width: 5%;
    margin: 20px;
    display: inline;
    border: none; 
}


/* setting for smaller screened devices */

@media only screen and (max-width: 600px) {
 
.jokeReturn{
width: 60%; 
}

img {
   display: none;
 } 

 footer {
     text-align: center;
 }



}
