body
{
 font-family: 'Limelight', cursive;
 background-color: #a10c0c;
 background-image: url("media/curtains3.jpg");
 background-repeat: no-repeat;
 background-size : cover;
 background-attachment: fixed;
 text-align: center;
}

header {
    background-color:#fef9e7;
    border: 12px solid #f6e10b ;
    margin-top: 15px;
    border-radius: 25px;
    padding: 20px;
    width: 73%;
    margin-left: 9em;
    
}

#inputBar {
    padding: 10px;
    font-size: 18px;
    background-color: white;
}

#getJoke {
    background-color: black;
    color:  #fef9e7;
    font-size: 18px;
    padding: 10px;
}


h1 { 
    text-align: center;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 3px 3px #971814;
    color: black;
}

h2 {
    color: #f6e10b; 
    font-size: 28px;
    text-shadow: 3px 3px black;
}


img {
  height: 25%;
  width:  25%;
  display: flex;
  flex-direction: row;
  border: 6px solid #f6e10b;
  border-radius: 25px;
}


.container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

@keyframes example {
    from {color: #fef9e7;}
    to {color: black;}
  }

.jokeReturn {
    width: 35%;
    background-color: #fef9e7;
    border: 6px solid #f6e10b;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: center;
    animation-name: example;
    animation-timing-function: linear;
    animation-duration: 4s;
    font-size: 39px;
    
   
 }

footer {
    color: black;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #fef9e7;
    border: 6px solid #f6e10b;
    border-radius: 25px;
    height: 110px;
    width: 46%;
    margin-left: 24em;

}

.icons {
    margin-top: -2em;
    height: 10%;
    width: 10%;
    margin: 20px;
    display: inline;
    border: none; 
}

/* setting for smaller screened devices */

@media only screen and (max-width: 600px) {
 
.jokeReturn{
width: 60%; 
}

img {
   display: none;
 } 

 footer {
     text-align: center;
 }



}
